<ul>
    <li><a href="/" class="menu">Hem</a></li>
    <li><a href="https://discordapp.com/api/oauth2/authorize?client_id=511877195631689738&permissions=3145728&scope=bot" class="menu">Invite BOT</a></li>
    <li><a href="/news" class="menu">Nyheter</a></li>
    <li><a href="/createNews" class="menu">Skapa nyhet</a></li>
    <li><a href="/topplista" class="menu">Topplista</a></li>
    <li><a href="/about" class="menu" style="float:right">Kontakta</a></li>
</ul>