<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Demo</title>
        <meta name="description" content="Demo">
        <meta name="author" content="Johannes">

        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        {{{body}}}
    </body>
</html>